.upper-rom{
    list-style-type: upper-roman;
}
.upper-alpha{
    list-style-type: upper-alpha;
}
.lower-roman{
    list-style-type: lower-roman;
}
.lower-alpha{
    list-style-type: lower-alpha;
} 

